.post-card {
max-width: 300px;
padding: 20px;
background: rgb(192, 190, 190);
border-radius: 24px;
}

.favorite-card {
    max-width: 300px;
    padding: 20px;
    background: rgb(123, 144, 212);
    border-radius: 24px;
    }

.title {
    font-size: 26px;
    font-weight: bold;
    text-align: center;
}

.description {

}

.card-menu {

}

.hidden {
    display: none;
}

button {
    border-color: rgb(27, 75, 45);
    border-style: solid;
    border-width: 5px;
    text-rendering: auto;
    border-radius: 8px;
}